nb-card {
  padding: 0 !important;
  height: 100%;

  nb-card-body {
    overflow: unset;
  }
  nb-list {
    height: 60vh;

    nb-list-item:hover {
      background-color: #4c4c4c09;
      cursor: pointer;
    }
  }
}

.action:hover {
  background-color: #576baa;
  cursor: pointer;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.three-point {
  cursor: pointer;
}

//New Chat Pop up
.pop-up {
  margin: auto;
  position: absolute;
  top: 15%;
  left: 10%;
}

.pop-up-block {
  display: block;
}

.pop-up-none {
  display: none;
}
