<nb-card>
  <nb-card-header>
    <div class="row no-gutters align-items-center" *ngIf="profile">
      <div class="col-auto">
        <img
          src="{{ profile.imgUrl }}"
          class="img-fluid rounded-circle"
          width="50px"
          appImgFallback
        />
      </div>
      <div class="col">
        <h6 class="pl-3 pr-3">{{ profile.firstName }}</h6>
      </div>
      <div class="col-auto">
        <div class="dropdown" style="float: right">
          <img
            class="three-point"
            src="/assets/three-point-menu.png"
            height="32"
            width="32"
            alt=""
          />
          <div class="dropdown-content">
            <a (click)="newChatClicked()">
              <img
                src="/assets/add-chat.png"
                height="25"
                width="25"
                alt=""
                style="padding-right: 2px"
              />
              New Chat
            </a>
          </div>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item *ngFor="let friend of friends" (click)="chatClicked(friend.id)" class="action">
        <nb-user
          [name]="friend.firstName + ' ' + friend.lastName"
          [title]="friend.lastMsg"
          [picture]="friend.imgUrl"
        >
        </nb-user>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>
