<nb-card>

  <nb-card-header>
    Code Preview
  </nb-card-header>

  <nb-card-body>
    <div *ngFor="let code of codes">
      <!-- <textarea readonly rows="5" cols="50"> {{code}} </textarea> -->
      <textarea readonly rows="5" cols="50">{{code.content}}</textarea>
      <button nbButton
              size="tiny"
              (click)="sendCode(code.id, code.language, code.content)">
        Run
      </button>
      <br>
      <nb-accordion >
        <nb-accordion-item>
          <nb-accordion-item-header></nb-accordion-item-header>
          <nb-accordion-item-body>
            <textarea readonly
                      rows="12" cols="50"
                      style="background-color:dimgrey;">{{code.output}}</textarea>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
      <br>
    </div>

    <button (click)="codePreview()"> Preview </button>

  </nb-card-body>

  <nb-card-footer>  </nb-card-footer>



</nb-card>

