<nb-card>

  <nb-layout-column>

  </nb-layout-column>
  <nb-card-header>
    <select placeholder="Choose your language" [(ngModel)]="codeToExecute.language">
      <option value="javascript">JavaScript</option>
      <option value="java">JAVA</option>
    </select>
  </nb-card-header>

  <nb-card-body>
    <textarea readonly rows="12" cols="50"> {{inputCode}} </textarea>
  </nb-card-body>

  <nb-card-footer>
    <div><button (click)="isRunnable()"> Run </button></div>

    <br>
    <br>
    Console :

    <div><textarea readonly rows="12" cols="50" style="background-color:black;"> </textarea></div>
  </nb-card-footer>



</nb-card>


<nb-layout></nb-layout>
