<form (submit)="register()">
  <div>
    <p> Inscription </p>
  </div>


  <div>
    <label> Email </label>
    <input
      [(ngModel)]="user.email"
      name="email"
      id="email"
      placeholder="test@test.fr"
      required
      type="email"
    >
  </div>

  <div>
    <label> Nom </label>
    <input
      [(ngModel)]="user.lastName"
      name="lastname"
      id="lastname"
      required
      type="text"
    >
  </div>

  <div>
    <label> Prénom </label>
    <input
      [(ngModel)]="user.firstName"
      name="firstname"
      id="firstname"
      required
      type="text"
    >
  </div>

  <div>
    <label> Mot de Passe </label>
    <input
      [(ngModel)]="user.password"
      name="password"
      id="password"
      required
      type="password"
    >
  </div>

  <div>
    <label> Confirmation </label>
    <input
      [(ngModel)]="user.password2"
      name="passwordConfirmation"
      id="passwordConfirmation"
      required
      type="password"
    >
  </div>

  <button type="submit" > S'inscrire </button>


  <div>
    <p>Déjà un compte ?</p>
    <button type="button" routerLink="/login" > Se Connecter </button>
  </div>



</form>

