<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body style="text-align:center">

        <img *ngIf="image !== undefined; else noProfileImage" class="profile-image" [src]="image" width="150" height="150" alt="">
        <ng-template #noProfileImage>
          <img class="profile-image" src="../../../../assets/profile.png" width="150" height="150" alt="">
        </ng-template>

        <br>
        <div>{{friendProfile.firstname}} {{friendProfile.lastname.toUpperCase()}}</div>
        <div>{{friendProfile.email}}</div>
      </nb-card-body>

      <nb-card-footer>
        <div (click)="viewFollowers()">
            {{friendProfile.nbFollowers || 0}} Followers
        </div>
        <div (click)="viewSubscriptions()">
            {{friendProfile.nbSubscriptions || 0}} Subscriptions
        </div>
        <div style="text-align: right">
          <button nbButton (click)="follow_unfollow()">
            {{buttonText}}
          </button>
        </div>
      </nb-card-footer>
    </nb-card>


    <nb-tabset>

      <nb-tab tabTitle="Posts">
        <span *ngIf="posts !== undefined; else postElseBlock">
          <nb-card *ngFor="let post of posts | keyvalue">
<!-- Impossible d'appeler le composant 'feed-post' Erreur : Maximum call stack size exceeded Error -->
            <nb-card-header> Title : {{post.key.title}} </nb-card-header>
            <nb-card-body routerLink="/post/{{post.key.id}}/detail">
              <pre><code>{{this.codeService.formatContent(post.key.content)}}</code></pre>

              <span class="tag" *ngFor="let tag of post.key.tags"> {{tag.name}} </span>
            </nb-card-body>
            <nb-card-footer>
              <span (click)="like_dislike(post.key.id)">
                <img *ngIf="!post.value.isLiked" src="assets/black_heart.png" alt="" height="20" width="20">
                <img *ngIf="post.value.isLiked" src="assets/red_heart.png" alt="" height="20" width="20">
              </span>
              {{post.key.nbLike}}
            </nb-card-footer>
<!---->
          </nb-card>
        </span>

        <ng-template #postElseBlock>
          <nb-card-body style="text-align: center">
            No Post Found
          </nb-card-body>
        </ng-template>
      </nb-tab>

      <nb-tab tabTitle="Answers">
        <nb-card *ngIf="friendAnswers !== undefined; else answersElseBlock">
          <span *ngFor="let friendAnswer of friendAnswers">
            <nb-card-body routerLink="../post/{{friendAnswer.id}}/detail">
              <nb-card-header> Title : {{friendAnswer.title}} </nb-card-header>

              <div style="padding: 2%">
                <pre><code>{{formatContentP(friendAnswer.content)}}</code></pre>
              </div>

              <div>
                <span class="tag" *ngFor="let tag of friendAnswer.tags"> {{tag.name}} </span>
              </div>
            </nb-card-body>
          </span>
        </nb-card>

        <ng-template #answersElseBlock>
          <nb-card-body style="text-align: center">
            No Post Found
          </nb-card-body>
        </ng-template>

      </nb-tab>

      <nb-tab tabTitle="Like">
        <div *ngFor="let postLiked of friendPostsLiked">
          <nb-card>
            <nb-card-body routerLink="../post/{{postLiked.id}}/detail">
              <nb-card-header> Title : {{postLiked.title}} </nb-card-header>

              <div style="padding: 2%">
                <pre><code>{{postLiked.content}}</code></pre>
              </div>

              <div>
                <span class="tag" *ngFor="let tag of postLiked.tags"> {{tag.name}} </span>
              </div>

            </nb-card-body>
          </nb-card>
        </div>
      </nb-tab>

    </nb-tabset>
  </nb-layout-column>
</nb-layout>
