<nb-card>

  <nb-card-header>
    <div>
      <nb-user
        class="hoverEffect"
        name="{{post.user.firstname}} {{post.user.lastname}}"
        (click)="goToProfile()">
      </nb-user>
      <br>
      Title : {{post.title}}
    </div>
  </nb-card-header>
  <nb-card-body>
    <span class="hoverEffect">
      <pre><code>{{this.codeService.formatContent(post.content)}}</code></pre>
    </span>

    <span class="tag" *ngFor="let tag of post.tags"> {{tag.name}} </span>

    <br>
    <span class="hoverEffect" (click)="like_dislike(post.id)">
      <img *ngIf="!postIsLiked" src="assets/black_heart.png" alt="" height="20" width="20">
      <img *ngIf="postIsLiked" src="assets/red_heart.png" alt="" height="20" width="20">
    </span>
    {{post.nbLike}}
  </nb-card-body>


  <nb-layout-column>
    <button nbButton
            status="basic"
            size="small"
            routerLink="/post/{{post.id}}/comment"> Comment </button>
  </nb-layout-column>

  <nb-card-footer>
    <nb-accordion (click)="getAnswers()">
      <nb-accordion-item>

        <nb-accordion-item-header>Answers</nb-accordion-item-header>
        <nb-accordion-item-body *ngFor="let answer of answers">
          <nb-card>
            <nb-card-body class="hoverEffect" (click)="goToAnswerDetail(answer.id)">
              <div>Content : {{this.codeService.formatContent(answer.content)}}</div>

              <span class="tag" *ngFor="let answerTag of answer.tags"> {{answerTag.name}} </span>
            </nb-card-body>
          </nb-card>
        </nb-accordion-item-body>

      </nb-accordion-item>
    </nb-accordion>

  </nb-card-footer>


</nb-card>

