<h1>Editor</h1>

<nb-card size="small">
  <nb-card-header>
    <select placeholder="Choose your language" (click)="updateOptions()" [(ngModel)]="chosenLanguage" >
      <option value="javascript">JavaScript</option>
      <option value="java">JAVA</option>
    </select>
  </nb-card-header>

  <nb-card-body>
    <div style="height: 400px">
      <ngx-monaco-editor style="height: 100%" [options]="options" [(ngModel)]="code" (onInit)="onInit($event)"> </ngx-monaco-editor>
    </div>
  </nb-card-body>
</nb-card>






