<div class="row">
  <app-project-tree [projectId]="projectId" [fileChange]=fileModified (fileSelectedEvent)="setSelectedFile($event)"
                    class="col-md-2"></app-project-tree>

  <div class="col-md-8" style="height: 650px">
    <div id="fileName"><strong>Bienvenue</strong></div>

    <ngx-monaco-editor id="monaco-editor"
                       style=" height: 100%;
                       z-index: 1"
                       [disabled]
                       [options]="editorOptions"
                       [(ngModel)]="code" (ngModelChange)="setFileChanged($event)">

    </ngx-monaco-editor>


  </div>
  <div class="col-md-2">
    <nb-card>
      <nb-card-header>
        <div [formGroup]="branchGroup">
          <nb-select-label>Branch:</nb-select-label>
          <nb-select formControlName="branchId" [ngModel]="branchName" #element
                     (selectedChange)="onChangeBranch($event)">
            <nb-option *ngFor="let branch of branchList" [value]="branch" (selected)="branchName"
            >{{branch}}</nb-option>
          </nb-select>
        </div>
      </nb-card-header>
      <nb-card-body>
        <nb-accordion multi>
          <nb-accordion-item>
            <nb-accordion-item-header>File actions</nb-accordion-item-header>
            <nb-accordion-item-body>
              <nb-list>
                <nb-list-item (click)="showCreateFilePopup()" class="action">
                  Create file
                </nb-list-item>
                <nb-list-item (click)="saveFile()" class="action">
                  Save changes
                </nb-list-item>
                <nb-list-item (click)="showDeleteFile()" class="action">
                  Delete file
                </nb-list-item>
              </nb-list>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header>Commit actions</nb-accordion-item-header>
            <nb-accordion-item-body>
              <nb-list>
                <nb-list-item (click)="showCommitPopup()" class="action">
                  Commit
                </nb-list-item>
                <nb-list-item (click)="showRevertCommitPopup()" class="action">
                  Revert
                </nb-list-item>
              </nb-list>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header>Branch actions</nb-accordion-item-header>
            <nb-accordion-item-body>
              <nb-list>
                <nb-list-item (click)="showCreateBranchPopup()" class="action">
                  Create branch
                </nb-list-item>
                <nb-list-item (click)="showMergeBranchPopup()" class="action">
                  Merge branch
                </nb-list-item>
              </nb-list>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-card-body>
    </nb-card>


  </div>


</div>


<div id="overlay"></div>


<!-- Delete File Popup -->
<div [ngClass]="['pop-up', deleteFilePopup]">
  <nb-card class="dialog-card">
    <nb-card-header>
      <h6>Delete File</h6>
    </nb-card-header>

    <nb-card-body style="text-align: center; padding-bottom: 0;">
      <p>You are going to delete a file</p>
    </nb-card-body>

    <nb-card-footer>
      <div class="box">
        <button
          nbButton
          size="tiny"
          status="primary"
          (click)="deleteFile()">
          delete
        </button>
        <button nbButton
                size="tiny"
                status="danger"
                (click)="hideDeleteFile()">
          Cancel
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</div>


<!-- Create Commit -->
<div [ngClass]="['pop-up', createCommitPopup]">
  <nb-card class="dialog-card">
    <nb-card-header>
      <div>Create Commit</div>
    </nb-card-header>

    <nb-card-body>
      <div>
        <label>Nom du Commit</label>
      </div>
      <div>
        <input type="text" id="commitName"/>
      </div>
    </nb-card-body>

    <nb-card-footer>
      <div class="box">
        <button nbButton
                status="primary"
                (click)="createCommit()">
          Create
        </button>
        <button nbButton
                status="danger"
                (click)="hideCommitPopup()">
          Close
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</div>


<!-- Revert Commit -->
<div [ngClass]="['pop-up', revertCommitPopup]" class='example-height-60 example-horizontal-spread'>
  <nb-card [size]="'medium'">
    <nb-card-header>
      <div>Revert Commit</div>
    </nb-card-header>

    <nb-card-body>
      <nb-list>
        <nb-list-item *ngFor="let commit of commits">
          <div>
            <input
              class="commitRevertCheckBox"
              id="commit_{{ commit.code }}"
              (click)="checkRevertInput(commit.code)"
              type="checkbox"
              value="{{ commit.name }}"
            />
            <label for="commit_{{ commit.code }}">{{ commit.name }}</label>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card-body>

    <nb-card-footer>
      <div class="box">
        <button nbButton (click)="revertCommit()" status="primary">Revert</button>
        <button nbButton (click)="hideRevertCommitPopup()" status="danger">Close</button>
      </div>
    </nb-card-footer>
  </nb-card>
</div>


<!-- Create Branch -->
<div [ngClass]="['pop-up', createBranchPopup]">
  <nb-card class="dialog-card">
    <nb-card-header>
      <div>Create Branch</div>
    </nb-card-header>

    <nb-card-body>
      <div>
        <label>Nom de la branch</label>
      </div>
      <div>
        <input type="text" id="createBranchName"/>
      </div>
    </nb-card-body>

    <nb-card-footer>
      <div class="box">
        <button nbButton
                status="primary"
                (click)="createBranch()">Create
        </button>
        <button nbButton
                status="danger"
                (click)="hideCreateBranchPopup()">Close
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</div>
<!-- Delete Branch -->
<div [ngClass]="['pop-up', deleteBranchPopup]">
  <nb-card class="dialog-card">
    <nb-card-header>
      <h6>Delete current Branch</h6>
    </nb-card-header>

    <nb-card-body style="text-align: center; padding-bottom: 0;">
      <p>You are going to delete {{branchName}} Branch</p>
    </nb-card-body>

    <nb-card-footer>
      <div class="box">
        <button
          nbButton
          size="tiny"
          status="primary"
          (click)="deleteBranch()">
          delete
        </button>
        <button nbButton
                size="tiny"
                status="danger"
                (click)="hideDeleteBranch()">
          Cancel
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</div>

<!-- Merge Branch -->
<div [ngClass]="['pop-up', mergeBranchPopup]">
  <nb-card [size]="'medium'">
    <nb-card-header>
      <div>Merge Branch</div>
    </nb-card-header>

    <nb-card-body>
      <nb-list>
        <nb-list-item *ngFor="let branch of mergeBranchList">
          <div>
            <input
              class="mergerBranchCheckBox"
              id="branch_{{ branch }}"
              (click)="branchMergeInput(branch)"
              type="checkbox"
              value="{{ branch }}"
            />
            <label for="branch_{{ branch }}">  {{ branch }}</label>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card-body>

    <nb-card-footer>
      <div class="box">
        <button nbButton
                status="primary"
                (click)="mergeBranch()">Merge
        </button>
        <button nbButton
                status="danger"
                (click)="hideMergeBranchPopup()">Close
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</div>

<!-- Create File -->
<div [ngClass]="['pop-up', createFilePopup]">
  <nb-card class="dialog-card">
    <nb-card-header>
      <div>Create File</div>
    </nb-card-header>

    <nb-card-body>
      <div>
        <label>Nom du fichier</label>
      </div>
      <div>
        <input type="text" id="createFileName"/>
      </div>
    </nb-card-body>

    <nb-card-footer>
      <div class="box">
        <button nbButton
                status="primary"
                (click)="createFile()">Create
        </button>
        <button nbButton
                status="danger"
                (click)="hideCreateFilePopup()">Close
        </button>
      </div>
    </nb-card-footer>
  </nb-card>

</div>








