<div class="row">
  <app-project-tree [projectId]="projectId"  [fileChange]=fileModified (fileSelectedEvent)="setSelectedFile($event)" class="col-md-2"></app-project-tree>

  <div class="col-md-8" style="height: 650px">
    <div id="fileName">Bienvenue</div>
    <select formControlName="branchId" [ngModel]="branchName" #element (change)="onChangeBranch($event,element.value)">
      <option *ngFor="let branch of branchList" [value]="branch" [selected]="branch === branchName">{{branch}}</option>
    </select>
    <ngx-monaco-editor id="monaco-editor"
                       style=" height: 100%;
                       z-index: 1"
                       [disabled]
                       [options]="editorOptions"
                       [(ngModel)]="code" (ngModelChange)="setFileChanged($event)">

    </ngx-monaco-editor>


  </div>

  <nb-accordion multi>
    <nb-accordion-item>
      <nb-accordion-item-header>File action</nb-accordion-item-header>
      <nb-accordion-item-body>
        <nb-list>
          <nb-list-item (click)="showCreateFilePopup()" class="action" >
            Create file
          </nb-list-item>
          <nb-list-item (click)="saveFile()" class="action" >
            save
          </nb-list-item>
          <nb-list-item (click)="showDeleteFile()" class="action" >
            delete
          </nb-list-item>
        </nb-list>
      </nb-accordion-item-body>
    </nb-accordion-item>
    <nb-accordion-item>
      <nb-accordion-item-header>Project action</nb-accordion-item-header>
      <nb-accordion-item-body>
        <nb-list>
          <nb-list-item (click)="showCreateBranchPopup()" class="action" >
            create branch
          </nb-list-item>
          <nb-list-item (click)="showDiff()" class="action" >
            show diff
          </nb-list-item>
          <nb-list-item (click)="showCommitPopup()" class="action" >
            Commit
          </nb-list-item>
          <nb-list-item (click)="showRevertCommitPopup()" class="action" >
            Revert
          </nb-list-item>
          <nb-list-item (click)="showMergeBranchPopup()" class="action">
            Merge
          </nb-list-item>
        </nb-list>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>

</div>


<div id="overlay"></div>


<!-- Delete File Popup -->
<div [ngClass]="['pop-up', deleteFilePopup]">
  <nb-card class="dialog-card">
    <nb-card-header>
      <h6>Delete File</h6>
    </nb-card-header>

    <nb-card-body style="text-align: center; padding-bottom: 0;">
      <p>You are going to delete a file</p>
    </nb-card-body>

    <nb-card-footer>
        <span style="padding-right: 50px">
          <button
            nbButton
            size="tiny"
            (click)="deleteFile()">
            delete
          </button>
        </span>
      <span>
          <button nbButton
                  size="tiny"
                  status="danger"
                  (click)="hideDeleteFile()">
            Cancel
          </button>
        </span>
    </nb-card-footer>
  </nb-card>
</div>


<!-- Create Commit -->
<div [ngClass]="['pop-up', createCommitPopup]">
  <nb-card class="dialog-card">
    <nb-card-header>
      <div>Create Commit</div>
    </nb-card-header>

    <nb-card-body>
      <div>
        <label>Nom du Commit</label>
      </div>
      <div>
        <input type="text" id="commitName" />
      </div>
    </nb-card-body>

    <nb-card-footer>
      <button nbButton (click)="createCommit()">Create</button>
      <button nbButton (click)="hideCommitPopup()">Close</button>
    </nb-card-footer>
  </nb-card>
</div>


<!-- Revert Commit -->
<div [ngClass]="['pop-up', revertCommitPopup]">
  <nb-card class="dialog-card">
    <nb-card-header>
      <div>Revert Commit</div>
    </nb-card-header>

    <nb-card-body>
      <nb-list>
        <nb-list-item *ngFor="let commit of commits">
          <div>
            <input
              class="commitCheckBox"
              id="commit_{{ commit.code }}"
              (click)="checkInput(commit.name)"
              type="checkbox"
              value="{{ commit.name }}"
            />
            <label for="commit_{{ commit.code }}">{{ commit.name }}</label>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card-body>

    <nb-card-footer>
      <button nbButton (click)="revertCommit()">Revert</button>
      <button nbButton (click)="hideRevertCommitPopup()">Close</button>
    </nb-card-footer>
  </nb-card>
</div>


<!-- Create Branch -->
<div [ngClass]="['pop-up', createBranchPopup]">
  <nb-card class="dialog-card">
    <nb-card-header>
      <div>Create Branch</div>
    </nb-card-header>

    <nb-card-body>
      <div>
        <label>Nom de la branch</label>
      </div>
      <div>
        <input type="text" id="createBranchName" />
      </div>
    </nb-card-body>

    <nb-card-footer>
      <button nbButton (click)="createBranch()">Create</button>
      <button nbButton (click)="hideCreateBranchPopup()">Close</button>
    </nb-card-footer>
  </nb-card>
</div>

<!-- Merge Branch -->
<div [ngClass]="['pop-up', mergeBranchPopup]">
  <nb-card class="dialog-card">
    <nb-card-header>
      <div>Merge Branch</div>
    </nb-card-header>

    <nb-card-body>
      <div>
        <label>Nom de la branch</label>
      </div>
      <div>
        <input type="text" id="mergeBranchName"/>
      </div>
    </nb-card-body>

    <nb-card-footer>
      <button nbButton (click)="createBranch()">Create</button>
      <button nbButton (click)="hideCreateBranchPopup()">Close</button>
    </nb-card-footer>
  </nb-card>
</div>

<!-- Create File -->
<div [ngClass]="['pop-up', createFilePopup]">
  <nb-card class="dialog-card">
    <nb-card-header>
      <div>Create File</div>
    </nb-card-header>

    <nb-card-body>
      <div>
        <label>Nom du fichier</label>
      </div>
      <div>
        <input type="text" id="createFileName" />
      </div>
    </nb-card-body>

    <nb-card-footer>
      <button nbButton (click)="createFile()">Create</button>
      <button nbButton (click)="hideCreateFilePopup()">Close</button>
    </nb-card-footer>
  </nb-card>

</div>








