.action:hover {
  background-color: #576baa;
  cursor: pointer;
}

input {
  margin: 0 5px 5px 0;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 1 auto;
}

