<div class="row">
  <app-project-tree [projectId]="projectId"  [fileChange]=fileModified (fileSelectedEvent)="setSelectedFile($event)" class="col-md-2"></app-project-tree>

  <div class="col-md-8" style="height: 650px">
    <div id="fileName">Bienvenue</div>
    <select formControlName="branchId" [ngModel]="branchName" #element (change)="onChangeBranch($event,element.value)">
      <option *ngFor="let branch of branchList" [value]="branch" [selected]="branch === branchName">{{branch}}</option>
    </select>
    <ngx-monaco-editor id="monaco-editor"
                       style=" height: 100%;
                       z-index: 1"
                       [disabled]
                       [options]="editorOptions"
                       [(ngModel)]="code" (ngModelChange)="setFileChanged($event)">

    </ngx-monaco-editor>


  </div>

  <nb-accordion multi>
    <nb-accordion-item>
      <nb-accordion-item-header>File action</nb-accordion-item-header>
      <nb-accordion-item-body>
        <nb-list>
          <nb-list-item (click)="createFile()" class="action" >
            Create file
          </nb-list-item>
          <nb-list-item (click)="saveFile()" class="action" >
            save
          </nb-list-item>
          <nb-list-item (click)="deleteFile()" class="action" >
            delete
          </nb-list-item>
        </nb-list>
      </nb-accordion-item-body>
    </nb-accordion-item>
    <nb-accordion-item>
      <nb-accordion-item-header>Project action</nb-accordion-item-header>
      <nb-accordion-item-body>
        <nb-list>
          <nb-list-item (click)="createBranch()" class="action" >
            create branch
          </nb-list-item>
          <nb-list-item (click)="showDiff()" class="action" >
            show diff
          </nb-list-item>
          <nb-list-item (click)="commit()" class="action" >
            Commit
          </nb-list-item>
          <nb-list-item (click)="revert()" class="action" >
            Revert
          </nb-list-item>
          <nb-list-item (click)="merge()" class="action" >
            Merge
          </nb-list-item>
        </nb-list>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>

</div>






<!-- Delete File Popup -->
<div [ngClass]="['pop-up', deleteFilePopup]">
  <nb-card class="dialog-card">
    <nb-card-header>
      <h6>File deletion</h6>
    </nb-card-header>

    <nb-card-body style="text-align: center; padding-bottom: 0;">
      <p>You are going to delete a post</p>
    </nb-card-body>

    <nb-card-footer>
        <span style="padding-right: 50px">
          <button
            nbButton
            size="tiny"
            (click)="deleteFile(true)">
            delete
          </button>
        </span>
      <span>
          <button nbButton
                  size="tiny"
                  status="danger"
                  (click)="deleteFile(false)">
            Cancel
          </button>
        </span>
    </nb-card-footer>
  </nb-card>
</div>


<!-- Create Commit -->













