<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-md-11">
        <nb-user class="hoverEffect"
                 name="{{this.member.firstName}} {{this.member.lastName}}"
                 picture="{{image != null ? image : ''}}"
                 (click)="goToFriendPage()">
        </nb-user>
      </div>

      <div class="col-md-1">
        <img
          class="hoverEffect"
          src="assets/trash-2-outline.svg"
          height="30"
          width="30"
          (click)="removeMember()"
        >
      </div>
    </div>
  </nb-card-body>
</nb-card>
