#refreshButton {
  position: fixed;
  bottom: 20px;
  left: 20px;
  //right: 10px;
  z-index: 1;
}

#createButton {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 1;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
