<nb-layout>
  <nb-layout-column class="col-12" >

    <button id="refreshButton" nbButton shape="round" size="small" (click)="refresh()">
      <img width="30" height="30" src="/assets/refresh.png">
    </button>
    <button id="createButton" nbButton shape="round" size="small" routerLink="/post/create">
      <img width="30" height="30" src="/assets/add.png">
    </button>

    <div *ngFor="let post of posts">
      <nb-card >

        <nb-card-body class="</nb-layout-column>" routerLink="../{{post.id}}/detail">
          <div>Title : {{post.title}}</div>
          <div>Content : {{post.content}}</div>
          <div >NbLike : {{post.nbLike}}</div>


        </nb-card-body>
        <nb-card-footer>

<!--          <button  nbButton
                   name="likeButton"
                   ngDefaultControl
                   status="danger"
                   [(ngModel)]="likeButton"
                   (click)="like_dislike()">


          </button>
-->
              <button
                (click)="like_dislike(post.id)"
                [ngClass]="{'green' : toggle, 'red': !toggle}">
              <nb-icon icon="heart-outline"></nb-icon>
            </button>



        </nb-card-footer>

      </nb-card>
    </div>

  </nb-layout-column>
</nb-layout>
