<nb-layout>
  <nb-layout-header class="fixed-header">
    <nb-user name="{{user.firstname}} {{user.lastname}}"
             title="full-stack developer"
             picture=""
             [nbContextMenu]="items"
             nbContextMenuTag="my-context-menu">
    </nb-user>
    <nb-toggle class="themeToggle"
               [(ngModel)]="toggleTheme"
               (click)="changeTheme()">

    </nb-toggle>
  </nb-layout-header>
  <nb-layout-column>

    <br>
    <br>
    <br>
    <br>

    <router-outlet></router-outlet>

  </nb-layout-column>
</nb-layout>

