<nb-card status="primary">
  <nb-card-header>Title : {{post.title}}</nb-card-header>
  <nb-card-body>
    <div>{{this.codeService.formatContent(post.content)}}</div>

    <span class="tag" *ngFor="let tag of post.tags"> {{tag.name}} </span>
  </nb-card-body>
</nb-card>


<nb-layout>
  <nb-layout-column>
    <nb-card nbSpinnerStatus="primary">
      <nb-card-header>
        <h6 id="title" class="text-center">Answer Post Form</h6>
      </nb-card-header>

      <nb-card-body>
        <form [formGroup]="answerForm" (ngSubmit)="comment()">
          <div class="form-control-group mb-3">
                      <span class="label-with-link">
                          <label class="label" for="input-content">Content :</label>
                      </span>
          </div>
          <textarea [(ngModel)]="content" id="input-content" formControlName="content"
                    placeholder="#`langage`  some code...##">
          </textarea>
          <div class="form-control-group mb-3">
                  <span class="label-with-link">
                      <label class="label" for="input-tagName">Tag :</label>
                  </span>
            <input nbInput fullWidth id="input-tagName"  placeholder="js, test,..." fieldSize="large" formControlName="tagName">
          </div>
<!--
          <div class="form-control-group mb-3">
                  <span class="label-with-link">
                      <label class="label" for="input-attachmentUrl">Attachment Url :</label>
                  </span>
            <input nbInput fullWidth id="input-attachmentUrl"  placeholder="" fieldSize="large" formControlName="attachmentUrl">
          </div>

          <div class="form-control-group mb-3">
                  <span class="label-with-link">
                      <label class="label" for="input-attachmentDescription">Attachment Description :</label>
                  </span>
            <input nbInput fullWidth id="input-attachmentDescription"  placeholder="" fieldSize="large" formControlName="attachmentDescription">
          </div>
-->

          <button nbButton fullWidth outline status="primary" size="large" [disabled]="answerForm.invalid">
            Post your answer
          </button>
        </form>
      </nb-card-body>

    </nb-card>
  </nb-layout-column>

  <nb-layout-column>
    <app-code-execution [inputContent]="content"></app-code-execution>
  </nb-layout-column>
</nb-layout>



