<nb-tabset>
  <nb-tab tabTitle="Post">
    <nb-card>
      <nb-card-header>
        <span class="searchButton" (click)="searchPost()">
          <nb-icon icon="search-outline"></nb-icon>
        </span>

        <span *ngIf="titleToggle" style="padding-right: 10px">
          <label class="label" for="title">Title : </label>
          <input nbInput shape="round" id="title" placeholder="Title" [(ngModel)]="filter.title" />
        </span>

        <span *ngIf="contentToggle" style="padding-right: 10px">
          <label class="label" for="content">Content : </label>
          <input
            nbInput
            shape="round"
            id="content"
            placeholder="Content"
            [(ngModel)]="filter.content"
          />
        </span>

        <span *ngIf="tagToggle" style="padding-right: 10px">
          <label class="label" for="tag">Tag : </label>
          <input nbInput shape="round" id="tag" placeholder="TS" [(ngModel)]="filter.tagName" />
        </span>
      </nb-card-header>

      <nb-card-body>
        <span class="displayButton">
          <button nbButton size="small" (click)="titleToggle = !titleToggle">affiche title</button>
        </span>

        <span class="displayButton">
          <button nbButton size="small" (click)="contentToggle = !contentToggle">
            affiche content
          </button>
        </span>

        <span class="displayButton">
          <button nbButton size="small" (click)="tagToggle = !tagToggle">affiche tag</button>
        </span>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-body *ngIf="postsFound !== undefined; else postElseBlock">
        <span *ngFor="let post of postsFound">
          <app-post-card [post]="post"></app-post-card>
        </span>
      </nb-card-body>

      <ng-template #postElseBlock>
        <nb-card-body style="text-align: center"> No Post Found </nb-card-body>
      </ng-template>
    </nb-card>
  </nb-tab>

  <nb-tab tabTitle="User">
    <nb-card>
      <nb-card-body>
        <span class="searchButton" (click)="searchUser()">
          <nb-icon icon="search-outline"></nb-icon>
        </span>

        <span style="padding-right: 10px">
          <label class="label" for="username">User : </label>
          <input
            nbInput
            shape="round"
            id="username"
            placeholder="Username"
            [(ngModel)]="userFirstName"
          />
        </span>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-body *ngIf="usersFound !== undefined; else userElseBlock">
        <span *ngFor="let user of usersFound">
          <div class="hoverEffect"
               style="padding: 10px"
               routerLink="/friend/{{ user.id }}/profile">
            <nb-user
              *ngIf="user != null"
              name="{{ user.firstName }} {{ user.lastName }}"
              picture=""
              size="giant"
            >
            </nb-user>
          </div>
        </span>
      </nb-card-body>

      <ng-template #userElseBlock>
        <nb-card-body style="text-align: center"> No User Found </nb-card-body>
      </ng-template>
    </nb-card>
  </nb-tab>
</nb-tabset>
