<nb-card class="dialog-card">
  <nb-card-header>
    <div>Merge</div>
  </nb-card-header>

  <nb-card-body>
    <nb-list>
      <nb-list-item *ngFor="let branch of branchList">
        <div>
          <input
            class="branchCheckBox"
            id="{{ branch }}"
            (click)="checkInput(branch)"
            type="checkbox"
            value="{{ branch }}"
          />
          <label for="{{ branch }}">{{ branch }}</label>
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card-body>

  <nb-card-footer>
    <button nbButton (click)="mergeBranch()">merge</button>
    <button nbButton (click)="close()">Close</button>
  </nb-card-footer>
</nb-card>
