<nb-card>
  <nb-card-body>
    <div class="row">
      <span
        style="display: flex; justify-content: center; align-content: center; flex-direction: column"
        class="col-md-6"
      >
        <p>Project name : {{ project.name }}</p>
      </span>
      <span
        style="display: flex; justify-content: center; align-content: center; flex-direction: column"
        class="col-md-5"
      >
        <p>creation date : {{ project.creationDate | date }}</p>
      </span>
      <span class="col-md-1">
        <img
          class="hoverEffect"
          src="assets/search-outline.svg"
          height="30"
          width="30"
          (click)="goTo(project.id)"
        >
      </span>
    </div>
  </nb-card-body>
</nb-card>
