<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-md-2">
        <img src="assets/place_holder_group.png" style="width: 40px; height: 40px" />
      </div>
      <div
        style="display: flex; justify-content: center; align-content: center; flex-direction: column"
        class="col-md-6"
      >
        <p>Nom : {{ project.name }}</p>
        <p>Date de création {{ project.creationDate | date }}</p>
      </div>
      <div class="col-md-4">
        <button nbButton (click)="goTo(project.id)">go to</button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
