<nb-layout>

  <nb-layout-column class="col-3">
    <nb-card>
      <nb-card-body style="text-align:center">
        <img *ngIf="image !== undefined; else noProfileImage" class="profile-image" [src]="image" width="150" height="150" alt="">
        <ng-template #noProfileImage>
          <img class="profile-image" src="assets/profile.png" width="150" height="150" alt="">
        </ng-template>
        <br>
        <div>{{group?.name}}</div>
      </nb-card-body>

      <nb-card-footer>
        <div>
          Members: {{group?.members?.length}}
        </div>
        <hr>
        <div>
          Project : {{group?.project?.length}}
        </div>
        <hr>
        <div>
          <button class="customButton" (click)="createProject()">
            Create project
          </button>
        </div>
      </nb-card-footer>
    </nb-card>
  </nb-layout-column>

  <nb-layout-column>
    <nb-tabset>
      <nb-tab tabTitle="Members">
        <nb-list>
          <nb-list-item *ngFor="let member of group?.members">
            <app-project-members-card class="col-md-12" [member]="member"></app-project-members-card>
          </nb-list-item>
        </nb-list>
      </nb-tab>

      <nb-tab tabTitle="Project">
        <nb-list>
          <button (click)="createProject()"> Create Project</button>
          <nb-list-item *ngFor="let project of group?.project">
            <app-group-projects-card class="col-md-12" [project]="project"></app-group-projects-card>
          </nb-list-item>
        </nb-list>
      </nb-tab>
    </nb-tabset>
  </nb-layout-column>
</nb-layout>
