.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 1 auto;
}

.truncateLongTexts {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis // This is where the magic happens
}

