<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <nb-card>
        <nb-card-header style="text-align:center">
          <h5 class="card-title truncateLongTexts">{{group?.name?.toUpperCase()}}</h5>
        </nb-card-header>

        <nb-card-body>
          <div style="padding-top: 5%; padding-bottom: 5%">
            Members: {{group?.members?.length}}
          </div>
          <hr>
          <div style="padding-top: 5%; padding-bottom: 5%">
            Project : {{group?.project?.length}}
          </div>
      </nb-card-body>
        <nb-card-footer>
          <button nbButton
                  fullWidth
                  (click)="showAddMembersPopup()">Add Members
          </button>
          <button nbButton
                  fullWidth
                  status="primary"
                  (click)="showPopup()">Create project
          </button>
        </nb-card-footer>
      </nb-card>
    </div>

    <div class="col-sm-9">
      <nb-tabset>
        <nb-tab tabTitle="Members">
          <nb-list>
            <nb-list-item *ngFor="let member of group?.members">
              <app-project-members-card class="col-md-12" [member]="member" [group]="group"></app-project-members-card>
            </nb-list-item>
          </nb-list>
        </nb-tab>

        <nb-tab tabTitle="Project">
          <nb-list>
            <button (click)="createProject()"> Create Project</button>
            <nb-list-item *ngFor="let project of group?.project">
              <app-group-projects-card class="col-md-12" [project]="project"></app-group-projects-card>
            </nb-list-item>
          </nb-list>
        </nb-tab>
      </nb-tabset>
    </div>
  </div>
</div>

<div id="overlay" (click)="showPopup()"></div>

<div [ngClass]="['pop-up',togglePopup]">
  <nb-card class="dialog-card">
    <nb-card-header>
      <div>New Project</div>
    </nb-card-header>

    <nb-card-body>
      <div>
        <label>Project Name</label>
      </div>
      <div>
        <input type="text" id="createProjectName" />
      </div>
    </nb-card-body>

    <nb-card-footer>
      <div class="box">
        <button nbButton
                status="primary"
                (click)="createProject()">
          Create
        </button>
        <button style="margin-left: 5%"
                nbButton
                status="danger"
                (click)="showPopup()">Close
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</div>



<!-- Add Members -->
<div [ngClass]="['pop-up', addMemberPopup]">
  <nb-card class="dialog-card">
    <nb-card-header>Enter Your Friend Email</nb-card-header>
    <nb-card-body>
      <input [(ngModel)]="email" nbInput placeholder="Email" type="email" />
    </nb-card-body>
    <nb-card-footer class="text-center">
      <button nbButton (click)="addMembers(email)" status="primary" class="m-2">Submit</button>
      <button nbButton (click)="showAddMembersPopup()" status="danger" class="m-2">Close</button>
    </nb-card-footer>
  </nb-card>
</div>
