<nb-accordion multi>
  <nb-accordion-item>
    <nb-accordion-item-header>File action</nb-accordion-item-header>
    <nb-accordion-item-body>
      <nb-list>
        <nb-list-item class="action" >
          save
        </nb-list-item>
        <nb-list-item class="action" >
          show diff
        </nb-list-item>
        <nb-list-item class="action" >
          delete
        </nb-list-item>
      </nb-list>
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item>
    <nb-accordion-item-header>Project action</nb-accordion-item-header>
    <nb-accordion-item-body>
      <nb-list>
        <nb-list-item class="action" >
          Commit
        </nb-list-item>
        <nb-list-item class="action" >
          Revert
        </nb-list-item>
      </nb-list>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
