<form (submit)="forgotPassword()">


  <div>
    <label> Email </label>
    <input
      [(ngModel)]="passwordModel.email"
      name="name"
      id="email"
      placeholder="test@test.fr"
      required
      type="email"
    >
  </div>

  <div>
    <label> Nouveau Mot de passe </label>
    <input
      [(ngModel)]="passwordModel.password"
      name="password"
      id="password"
      required
      type="password"
    >
  </div>

  <div>
    <label> Confirmation mot de passe </label>
    <input
      [(ngModel)]="passwordModel.password2"
      name="password2"
      id="password2"
      required
      type="password"
    >
  </div>

  <div>
    <button type="submit" > Changer </button>
  </div>


</form>
