@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};

body {
    font-family: "Roboto", sans-serif;
}

//TODO : Revoir les tags

.tag {
  height: 200px;
  width: 300px;
  background: #e3e3e3;
  border-radius: 50%;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
}
