@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};

body {
    font-family: "Roboto", sans-serif;
}

.tag {
  height: 200px;
  width: 300px;
  background: #576baa;
  border-radius: 10%;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  padding: 4px;
  margin-right: 10px;
}

.hoverEffect:hover {
  cursor: pointer;
}

textarea {
  float: left;
  width: 100%;
  min-height: 200px;
  outline: none;
  resize: none;
  border: 1px solid grey;
}
