<nb-card>
  <nb-card-header>
    <nb-user
      class="hoverEffect"
      name="{{post.key.user.firstName}}"
      routerLink="/friend/{{post.key.user.id}}/profile">
    </nb-user>
    <br>
    Title : {{post.key.title}}
  </nb-card-header>
  <nb-card-body class="</nb-layout-column>" routerLink="../{{post.key.id}}/detail">

    <span class="hoverEffect">
      <pre><code>{{post.key.content}}</code></pre>
    </span>

    <span class="badge badge-pill badge-info tag-post" *ngFor="let tag of post.key.tags">{{tag.name}}</span>

  </nb-card-body>

  <nb-card-footer>
    <span class="hoverEffect" (click)="like_dislike(post.key.id)">
      <img *ngIf="!post.value.isLiked" src="assets/black_heart.png" alt="" height="20" width="20">
      <img *ngIf="post.value.isLiked" src="assets/red_heart.png" alt="" height="20" width="20">
    </span>
    {{post.key.nbLike}}
  </nb-card-footer>
</nb-card>
