<nb-card>
  <nb-card-header>Title : {{post.key.title}}</nb-card-header>
  <nb-card-body class="</nb-layout-column>" routerLink="../{{post.key.id}}/detail">

    <pre><code>{{formatContent(post.key.content)}}</code></pre>
    Tags :
    <span *ngFor="let tag of post.key.tags">{{tag.name}} | </span>

  </nb-card-body>

  <nb-card-footer>
    <button
      (click)="like_dislike(post.key.id)"
      [ngClass]="{'green' : post.value.isLiked, 'white': !post.value.isLiked}">
      <nb-icon icon="heart-outline"></nb-icon>
    </button>
    {{post.key.nbLike}}
  </nb-card-footer>
</nb-card>
