<div style="text-align: center">
  <nb-card class="col-md-6 center">
    <nb-card-header>Groups</nb-card-header>
    <nb-card-body>
      <nb-list>
        <nb-list-item *ngFor="let group of groups">
          <app-group-card class="col-md-12" [group]="group"></app-group-card>
        </nb-list-item>
      </nb-list>
    </nb-card-body>
    <nb-card-footer><button class="customButton" (click)="showPopup()">Create group</button></nb-card-footer>
  </nb-card>
</div>


<div [ngClass]="['pop-up',togglePopup]">
  <nb-card class="dialog-card">
    <nb-card-header>
      <label class="label">Group Name:</label>
      <input nbInput [(ngModel)]="createGroupRequest.name" />
    </nb-card-header>

    <nb-card-body>
      <ul>
        <li *ngFor="let member of members">
          {{ member.email }}
          <button nbButton size="tiny" status="danger" (click)="removeMember(member)">
            remove
          </button>
        </li>
      </ul>
      <div>
        <label class="label">Members :</label>
        <input nbInput placeholder="mymail@mail.fr" [(ngModel)]="mail" />
      </div>
    </nb-card-body>

    <button nbButton status="primary" (click)="addMembers()">Add Members</button>

    <nb-card-footer>
      <button nbButton (click)="createGroup()">Create</button>
    </nb-card-footer>
  </nb-card>
</div>




