<nb-layout>

  <nb-layout-column class="col-12">
    <nb-card>
      <nb-card-body>
        <img class="profile-image" src="favicon.ico" width="150" height="150" alt="" >
        <br>
        <div>Name : {{profile.firstname}}</div>
        <div>Mail : {{profile.email}}</div>


        <div (click)="viewFollowers()">Followers: {{profile.followers}}</div>




      </nb-card-body>
    </nb-card>


    <div *ngFor="let post of userPost">
      <nb-card>
        <nb-card-body>
          <div>Content : {{post.content}}</div>
          Tags :
          <span *ngFor="let tag of post.tags">| {{tag.name}} </span>
        </nb-card-body>
      </nb-card>
    </div>


  </nb-layout-column>


</nb-layout>
