.profile-image {
  height: 70%;
  width: 70%;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

  .top-layer {
    background-color: #4c4c4c;
    border-radius: 50%;
    opacity: 0;

    nb-icon {
      margin-top: 70px;
      color: #fff;
      font-size: 3rem;
      opacity: 0;
    }
  }

  .top-layer:hover {
    opacity: 0.6;
    cursor: pointer;

    nb-icon {
      opacity: 1;
    }
  }
}

#createButton {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 1;
}


.subscriptionsCounter {
  text-align: left;
  border-top: 1px solid #f4f4f4;
  padding-top: 5%;
  padding-bottom: 5%;
}

.truncateLongTexts {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis // This is where the magic happens
}

code {
  border: 1px dashed #000000;
  background-color: #f3f1ef;
  overflow: auto;
  display: block;
  padding: 5px;
  max-height: 65px;
  color: #0269ab;
  font-family: Courier, monospace;
  font-size: 0.9em;
  font-size: 0.9rem;
}
