<nb-layout>

  <nb-layout-column class="col-3">

    <button id="createButton" nbButton shape="round" size="small" routerLink="/post/create">
      <img width="30" height="30" src="/assets/add.png">
    </button>

    <nb-card>
      <nb-card-body style="text-align:center">

        <img *ngIf="image !== undefined; else noProfileImage" class="profile-image" [src]="image" width="150" height="150" alt="">
        <ng-template #noProfileImage>
          <img class="profile-image" src="assets/profile.png" width="150" height="150" alt="">
        </ng-template>

        <br>
        <div>{{profile.firstname}} {{profile.lastname.toUpperCase()}}</div>
        <div>{{profile.email}}</div>
      </nb-card-body>

      <nb-card-footer>
          <div (click)="viewFollowers()">
            {{profile.nbFollowers || 0}} Followers
          </div>
        <hr>
          <div (click)="viewSubscriptions()">
            {{profile.nbSubscriptions || 0}} Subscriptions
          </div>
      </nb-card-footer>
    </nb-card>

    <nb-card>
      <button nbButton routerLink="../profile/update">Edit</button>
    </nb-card>
  </nb-layout-column>


  <nb-layout-column>
    <nb-tabset>

      <nb-tab tabTitle="My Posts">
        <div *ngFor="let post of posts | keyvalue">
          <nb-card>
            <nb-card-header>
              Title : {{post.key.title}}
              <button nbButton
                      style="float: right"
                      status="danger"
                      size="tiny"
                      (click)="deletePost(post.key.id)">
                Delete
              </button>
            </nb-card-header>

            <nb-card-body>
              <div style="padding: 2%"
                   routerLink="../post/{{post.key.id}}/detail">
                 <pre><code>{{this.codeService.formatContent(post.key.content)}}</code></pre>
              </div>

              <div *ngIf="post.key.tags !== undefined">
                Tags : <span *ngFor="let tag of post.key.tags">| {{tag.name}} </span>
              </div>


            </nb-card-body>

            <nb-card-footer>
              <button
                (click)="like_dislike(post.key.id)"
                [ngClass]="{'green' : post.value.isLiked, 'white': !post.value.isLiked}">
                <nb-icon icon="heart-outline"></nb-icon>
              </button>
              {{post.key.nbLike}}
            </nb-card-footer>

          </nb-card>
        </div>
      </nb-tab>

      <nb-tab tabTitle="Answers">
        <div *ngFor="let userAnswer of userAnswers">
          <nb-card>
            <nb-card-header>
              Title : {{userAnswer.title}}
              <button nbButton
                      style="float: right"
                      status="danger"
                      size="tiny"
                      (click)="deletePost(userAnswer.id)">
                Delete
              </button>
            </nb-card-header>

            <nb-card-body routerLink="../post/{{userAnswer.id}}/detail">
              <div style="padding: 2%">
                <pre><code>{{formatContentP(userAnswer.content)}}</code></pre>
              </div>

              <div>
                Tags : <span *ngFor="let tag of userAnswer.tags">| {{tag.name}} </span>
              </div>
            </nb-card-body>

            <nb-card-footer>
              <button nbButton
                      status="danger"
                      size="tiny"
                      (click)="deletePost(userAnswer.id)">
                Delete
              </button>
            </nb-card-footer>
          </nb-card>
        </div>
      </nb-tab>


      <nb-tab tabTitle="Like">
        <div *ngFor="let postLiked of postsLiked | keyvalue">
          <nb-card>
            <nb-card-header>
              <nb-user
                name="{{postLiked.key.user.firstname}} {{postLiked.key.user.lastname}}"
                routerLink="/friend/{{postLiked.key.user.id}}/profile">
              </nb-user>
              <br>
              Title : {{postLiked.key.title}}
            </nb-card-header>

            <nb-card-body routerLink="../post/{{postLiked.key.id}}/detail">
              <div style="padding: 2%">
                <pre><code>{{postLiked.key.content}}</code></pre>
              </div>

              <div>
                Tags : <span *ngFor="let tag of postLiked.key.tags">| {{tag.name}} </span>
              </div>

            </nb-card-body>

            <nb-card-footer>
              <button
                (click)="like_dislike(postLiked.key.id)"
                [ngClass]="{'green' : postLiked.value.isLiked, 'white': !postLiked.value.isLiked}">
                <nb-icon icon="heart-outline"></nb-icon>
              </button>
              {{postLiked.key.nbLike}}
            </nb-card-footer>
          </nb-card>
        </div>
      </nb-tab>

    </nb-tabset>
  </nb-layout-column>


</nb-layout>
